name: Build container image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout files in repo
      uses: actions/checkout@main

    - name: Update pip
      run: |
        python -m pip install --upgrade pip

    - name: Update jupyter dependencies with repo2docker
      uses: jupyterhub/repo2docker-action@master
      with:
         # Don't push the image during a PR build
        NO_PUSH: "${{ github.event_name == 'pull_request' }}"
        LATEST_TAG_OFF: true
        # Put repo contents in /srv/repo, rather than the default (/home/jovyan). The home directory
        # is mounted over by persistent storage when we are using the built image in a JupyterHub, and
        # so all contents put in /home/jovyan are lost. This particularly prevents any 'start' script from
        # working, as it is needed in runtime.
        # REPO_DIR: /srv/repo
        # Make sure username & password/token pair matches your registry credentials
        DOCKER_USERNAME: ${{ secrets.QUAY_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
        DOCKER_REGISTRY: "quay.io"
        IMAGE_NAME: "georgianaelena/ccsf-img"
        FORCE_REPO2DOCKER_VERSION: jupyter-repo2docker==2025.08.0
